.paramsWrap {
    display: flex;
    flex-flow: row wrap;
    font-size: 2rem;
    justify-content: space-around;    
    margin: 0 auto;
    width: 80%;
}

.params {
    display: flex;    
    align-items: center;
}

.params p{
    padding-left: 10px;
}

.wind{
    padding-right: 10px;    
}



