@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 16px;
  color: #2f2f6f;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b8d8fc;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}


